/* ===========================
Layout/Content
=========================== */

#wrap {
	// padding: 20px;
	padding: 0 20px;
}

#content {
	margin:0 auto;	
	padding: 0;
	position: relative;
    width: auto;
}

#main {
	float: left
}