/* ===========================
Base
=========================== */

html {
    height: 100%;
}

body {
	background: {
		image: image-url("bkg.png");
		repeat: scroll;
	}
    font-family: $font1;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5;
    height: 100%;
}

a {
    
    color: $color-link;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
        text-decoration: none;
    }
}

::-moz-selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 0 1em;
    padding: 0;
}