/* ===========================
modules/block
=========================== */

.entry-block {
	background: {
		image: image-url("bg-post.png");
		repeat: scroll;		
		color: #fffcf5;
	};    
    border-bottom: 3px solid #f2ede5;
    @include border-radius(5px);
    @include box-shadow(rgba(73, 36, 13, 0.4) 0 1px 2px);    
    margin: 20px 1px;
    padding: 20px;
    position: relative;
    min-height: 600px;
}