/* ===========================
modules/section
=========================== */

.section-title {
    .photo {
        border-radius: 50%;
        float: left;
        vertical-align: middle;
        width: 48px;
        margin: -5px 10px 0 0;
    }
    .link {
        display: inline-block;
        width: 16px;
        margin-left: 10px;
    }
    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 21px;
    }
}

.section-slide {
    background: none repeat scroll 0 0 #fff;
    @include border-radius(3px);
    @include box-shadow(#aaaaaa 0 0 5px);
    clear: left;
    position: relative;
    .inner {
        padding: 20px;
    }
}

.section-article {
    p::after {
        content: "\A\A";
        white-space: pre;
    }
}